.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.emoji {
    position: absolute;
    transform-origin: center;
    font-size: 120px;
    cursor: pointer;
}

.circle {
    height: 300px;
    width: 300px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/maintain.png);
    background-size: cover;
    cursor: pointer;
    animation: rotate 30s linear infinite;
}

.circle-close {
    height: 300px;
    width: 300px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/close.png);
    background-size: cover;
    cursor: pointer;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}